<% if alert.present? %>  
          <p class="alert alert-danger"><%= alert %></p>
        <% end %> 
        
<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
   <h1 class="title"><%= @search.question %></h1>  
  </div>
</nav>

<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <%= @show.search('a.question-hyperlink').xpath('text()').first %>
      </h1>
      <h2 class="subtitle">
        <%= @show.search('div.excerpt').xpath('text()').first %>
      </h2>
    </div>
  </div>
</section>
<section class="hero is-info">
  <div class="hero-body">
    <%= link_to "https://stackoverflow.com/search?q=" + "#{@search.question}".gsub!(/\s/,'+') do %>
    <div class="container">
      <h1 class="title">
        <%= @show.search('a.question-hyperlink').xpath('text()').last %>
      </h1>
      <h2 class="subtitle">
        <%= @show.search('div.excerpt').xpath('text()').last %>
      </h2>
    </div>
    <% end %>
  </div>
</section>